pytorch/data/*
data/real/Larkin_*
data/real/Ros*
data/synthetic/*
data/logs/*
data/*.zip
output/*
pytorch/data/*

dataset/data
dataset/data/*
logs 
debug
__pycache__
__pycache__/*

debug*
.DS_Store

experiments/debug*
experiments/exp*
experiments/plot*
experiments/biofilm*
experiments/*/
*/*.h5